@import url(https://fonts.googleapis.com/css?family=Cinzel+Decorative);

body {
  font-family: "Cinzel Decorative", "Times New Roman", serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  background-image: url(images/cavebackground.jpg);
  background-size: cover;
  color: gold;
}

.header {
  width: 100%;
  background-color: black;

  display: flex;
  justify-content: center;
}

.logo {
  width: auto;
  height: 80px;
}

.shimmer {
  color: gold;
  -webkit-mask:linear-gradient(-60deg,#ffffff 30%,rgba(255, 255, 255, 0.333),#ffffff 70%) right/300% 100%;
  background-repeat: no-repeat;
  animation: shimmer 2.5s infinite;
  font-size: 30px;
}

 @keyframes shimmer {
 100% {-webkit-mask-position:left}
}

button {
  cursor: pointer;
  background: none;
  border: none;
  text-align: center;
  vertical-align: middle;
}

.todo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#todo-form{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
}

.todoDiv {
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
  background-color: #202020;
  border-radius: 14px;
  margin-bottom: 6px;
}

#goldpile {
  width: auto;
  height: 100px;
  flex: 1 1 auto;
}

ul {
  list-style: none;
  text-align: center;
}

#todo-input{
  height: 48px;
  width: 320px;
  border-radius: 10px;
  border: none;
  padding: 0 15px;
  font-size: 18px;
  outline: 2px solid gold;
  background-color: rgba(34, 34, 34, 0.3);
  color: #fff;
  -o-text-overflow: ellipsis;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

#todo-input::placeholder{
  color: #e6e6e6;
}

#todo-input:focus{
  outline: 2px solid gold;
  box-shadow: 0 0 7px gold;
}

#seal{
  background-color: transparent;
  width: 80px;
  height: auto;
}

#todoItems{
  position: relative;
  z-index: 1;
  width: 400px;
  min-height: 300px;
  padding: 20px;
}

#reset-button {
  color: white;
  font-size: larger;
}